<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lihainuo.sso.mp.mapper.AdminMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rose.sso.model.entity.Admin">
        <id column="id" property="id" />
        <result column="phone" property="phone" />
        <result column="open_id" property="openId" />
        <result column="password" property="password" />
        <result column="nickname" property="nickname" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="deleted_at" property="deletedAt" />
    </resultMap>

</mapper>
